<div class="container">
    <div id="cover-image">
        <img class="full-width" src="assets/cover.png">
        <div class="intro">
            <div>
                Hey, I'm Nikhil Arora and I love building beautiful applications
            </div>
            <button class="intro-button" mat-button (click)="scrollToIntro()">About Me</button>
        </div>
    </div>
    <div id="about-me" class="margin-tb-2x">
        <img class="margin-r-2x" src="assets/profile-photo.jpg">
        <div class="margin-2x">
            <p>I’m a hard working and dedicated professional front-end developer/user interface designer
                with a keen eye for detail, and a determination to deliver the very highest quality. I take great pride
                in
                my work, and I always try to better myself with every project I work on.</p>
            <p>My main experience is in front-end development but I also have a passion for design. Given that producing
                a modern website requires the combination of design, server technology, and the layer that users
                interact with, I believe having experience in both design and development allows for making the most
                optimal user experiences.</p>
        </div>
    </div>

    <!-- <div class="start-project padding-lr-2x">
        <span class="start-project-heading">Start a project</span>
        <span class="start-project-body">
            <span>Interested in working together? Let's talk.</span>
            <span>I'll buy the coffee.</span>
        </span>
        <button mat-button class="contact-button" (click)="mail()">Let's do this</button>
    </div>  -->
</div>