.projects {
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-heading {
        text-align: center;
    }

    &-card {
        max-width: 320px;
        margin-right: 16px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        &-heading {
            font-size: 20px;
            margin-bottom: 8px;
        }

        &-actions {
            margin-bottom: -8px;
            margin-top: 8px;
            padding: 0;
        }

        &-chips ::ng-deep .mat-chip-list-wrapper {
            position: absolute;
            right: 0;
            margin-right: 8px;
        }

        &-chip {
            min-height: 24px;
            padding: 8px;
        }
    }
}

@media only screen and (max-width: 768px) and (min-width: 640px) {
    .projects {
        &-container {
            display: flex;
            flex-wrap: wrap;
        }

        &-card {
            max-width: 42%;
        }
    }
}

@media only screen and (max-width: 640px) {
    .projects {
        &-container {
            flex-direction: column;
        }

        &-card {
            max-width: 100%;
            margin-bottom: 16px;
        }
    }
}