.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 32px;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav-button:hover {
    color: #333333;
}

.footer-button:hover {
    background: #FFFFFF;
    color: #333333;
}

#container {
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10px;
    padding-bottom: 66px;
    /* Height of the footer */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Height of the footer */
    color: #FFFFFF;
    background: #333333;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: auto;
    }
}

#menu-toolbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    #menu-toolbar {
        display: block;
    }
    #nav-toolbar {
        display: none;
    }
    #footer {
        height: 75px;
        &-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-nav {
            margin-bottom: 8px;
        }
    }
    #body {
        padding-bottom: 91px;
    }
}