<!-- <div class="toolbar">
    <div class="logo" (click)="navigateTo('home')"><img class="fit-content" src="assets/profile-logo.png"></div>
    <div>
        <button class="nav-button margin-r" mat-button (click)="navigateTo('home')">Home</button>
        <button class="nav-button margin-r" mat-button (click)="navigateTo('projects')">Projects</button>
        <button class="nav-button margin-r" mat-button (click)="navigateTo('resume')">Resume</button>
        <button mat-button class="contact-button" (click)="mail()">Say Hi</button>
    </div>
</div>
<div class="page-body">
    <router-outlet></router-outlet>
</div> -->


<div id="container">
    <div id="header">
        <div class="toolbar">
            <div class="logo" (click)="navigateTo('home')"><img class="fit-content" src="assets/profile-logo.png"></div>
            <div id="nav-toolbar">
                <button class="nav-button margin-r" mat-button (click)="navigateTo('home')">Home</button>
                <button class="nav-button margin-r" mat-button (click)="navigateTo('projects')">Projects</button>
                <button class="nav-button margin-r" mat-button (click)="navigateTo('resume')">Resume</button>
                <button mat-button class="contact-button" (click)="mail()">Say Hi</button>
            </div>
            <div id="menu-toolbar">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="navigateTo('home')">Home</button>
                    <button mat-menu-item (click)="navigateTo('projects')">Projects</button>
                    <button mat-menu-item (click)="navigateTo('resume')">Resume</button>
                    <button mat-menu-item (click)="mail()">Say Hi</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div id="body">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <div id="footer-container">
            <div id="footer-nav">
                <button class="footer-button margin-r" mat-button (click)="navigateTo('home')">Home</button>
                <button class="footer-button margin-r" mat-button (click)="navigateTo('projects')">Projects</button>
                <button class="footer-button margin-r" mat-button (click)="navigateTo('resume')">Resume</button>
            </div>
            <div class="center">
                <a href="https://www.linkedin.com/in/nikaroracmu" target="_blank"><img class="margin-r"
                        src="assets/footer/linkedin.svg"></a>
                <a href="https://github.com/NikhilArora1" target="_blank"><img class="margin-r"
                        src="assets/footer/GitHub.svg"></a>
                <a href="https://www.facebook.com/nikhil.arora.142/" target="_blank"><img class="margin-r"
                        src="assets/footer/facebook.svg"></a>
                <a href="https://www.instagram.com/nikhilarora92/" target="_blank"><img
                        src="assets/footer/instagram.svg"></a>
            </div>
        </div>
    </div>
</div>